.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login,
.signUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 50px;
  box-shadow: rgba(0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  border: 1px solid rgb(0, 102, 255);
  width: 300px;
  height: 34px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  border-radius: 5px;
}

input[type="password"] {
  border: 1px solid rgb(0, 102, 255);
  width: 300px;
  height: 34px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  border-radius: 5px;
}

h1 {
  font-size: 275%;
  color: rgb(0, 102, 255);
  text-align: center;
  text-shadow: #282c34;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  padding-bottom: 35px;
}

input[type="button"] {
  border: 1px solid rgb(0, 102, 255);
  height: 34px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  color: azure;
  font-weight: 100;
  border-radius: 5px;
  text-align: center;
  background: rgb(0, 102, 255);
  cursor: pointer;
}

#title {
  font-size: 275%;
  color: rgb(0, 102, 255);
  text-align: center;
  text-shadow: #282c34;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  padding-bottom: 35px;
}
