.track-card {
    background-color: #262626; /* Background color */
    color: white;

    /* Padding inside the box */
    padding-top: 10px;
    padding-bottom: 6.5px;
    padding-left: 10px;

    /* Outer space around the box */
    margin-top: -12px; 
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -12px;

    /* Adjusts the roundness of the corners */
    border-radius: 10px;

    /* Activates Flexbox */
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden; /* Added to prevent content from spilling */

    transition: background-color 0.3s, transform 0.5s; /* Adds a smooth animation on hover */
    will-change: transform; /* Improves performance by letting the browser know what to expect */

    .album-img {
        border-radius: 10%; /* Creates a circle shape. Adjust as needed. */
        width: 100px; /* Set a specific width */
        height: 100px; /* Set a specific height to match the width for a perfect circle */
        object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
    }
    .card-track-artist {
        flex-grow: 1;
        max-width: 67.5%;
        overflow: hidden;
        h2 {
            margin: 0; /* Removes the default margin */
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        p {
            margin: 0; /* Removes the default margin */
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #a9a9a9;
        }
        .song-name {
            color: #ffffff; /* Changes the color of the link */
            text-decoration: none; /* Removes the underline */
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: color 0.5s; /* Adds a smooth animation on hover */
        }
        .song-name:hover {
            color: #1ED760; /* Changes the color of the link on hover */
            text-decoration: underline;
        }
        .artist-name {
            color: #a9a9a9; /* Changes the color of the link */
            text-decoration: none; /* Removes the underline */
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: color 0.5s; /* Adds a smooth animation on hover */
        }
        .artist-name:hover {
            color: #dedede; /* Changes the color of the link on hover */
            text-decoration: underline;
        }
    }
    .play-button {
        align-items: center; /* Align to the right */
        display: flex; /* Add this property */
        padding-left: 10px;
        padding-right: 10px;
        img {
            background-color: transparent;
        }
        button {
            background-color: transparent;
            border: none;
            outline: none;
            transition: transform 0.3s; /* Adds a smooth animation on hover */
            will-change: transform; /* Improves performance by letting the browser know what to expect */
        }
        button:hover {
            transform: scale(1.1); /* Increases size on hover */
            transition: transform 0.3s; /* Adds a smooth animation on hover */
            transform-origin: center; /* Ensures the button grows from the center */
        }
    }
}
.track-card:hover {
     /* Increases size on hover */
    transform: scale(1.05);
    background-color: #414141; /* Changes background color on hover */
    transition: transform 0.3s, background-color 0.5s; /* Adds a smooth animation on hover */
}

.search-bubble {
    background-color: #2c2c2c;
    color: white;
    z-index: 1;
    top: 0;

    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    .search-title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        font-size: 20px;
        font-weight: bold;

        .left-item {
            align-self: flex-start;
        }

        .right-item {
            font-size: 15px;
            align-self: flex-end;
        }
    }
    .search-input {
        padding-left: 0px;
        display: flex;
        flex-direction: row;
    }

    .volume-slider-container {
        appearance: none;
        display: flex;
        justify-content:flex-start;
        flex-direction: row;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: -10px;
        padding-bottom: 15px;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        color: #b1b1b1;
        
        input[type=range] {
            appearance: none;           
            margin-left: 15px;
            width: 120px;
            height: 8px;
            background-color: #ccc;
            border-radius: 5px;
            cursor: pointer;
            outline: none; /* Remove the outline */
        }

        input[type=range]::-webkit-slider-thumb {
            appearance: none; /* Removes the default appearance */
            width: 8px; /* Set a specific width */
            height: 8px; /* Set a specific height */
            background-color: #ffffff; /* Set the color of the thumb */
            border-radius: 50%; /* Creates a circle shape */
            cursor: pointer; /* Add a pointer on hover */
        }

        input[type=range]::-webkit-slider-thumb:hover {
            appearance: none; /* Removes the default appearance */
            width: 12px; /* Set a specific width */
            height: 12px; /* Set a specific height */
            background-color: #ffff; /* Set the color of the thumb */
            border-radius: 50%; /* Creates a circle shape */
            cursor: pointer; /* Add a pointer on hover */
        }
    }
}



.link-and-noti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.scroll-container {
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Disables horizontal scrolling */
    margin-top: -30px;
    padding: 10px; /* Adds space around the content */
    padding-top: 20px; /* Adds space around the content */
}

.main-container {
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto; /* Set to hidden to disable vertical scrolling */
}

.error-card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    font-family: Helvetica;


    padding: 5%;
    padding-top: 0;
    margin: 20px;
    margin-top: 10px;
    border-radius: 15px;

    .err-txt-top {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .err-txt-content {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .err-txt-content-link {
        font-size: 14px;
        margin-bottom: 15px;
        color: #1ED760;
        text-decoration: none;
    }
    .err-txt-bot {
        font-size: 14px;
        margin-bottom: 15px;
    }

    p {
        padding-top: 15px;
        margin-bottom: 10px;
        margin: 0;
    }
}

.input-stuff {
    margin: 10px;
    overflow: auto;
    max-width: 90%;
    min-width: none;
    background-color: #414141;
    color: white;
}

input::placeholder {
    color: #676767;
}

.spot-button2 {
    background-color: #1ED760;
    color: #121212;
    border: none;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;

    transition: background-color 0.3s, color 0.3s;
}
.spot-button2:hover {
    background-color: #19ae4d; /* Changes background color on hover */
    color: #FFFFFF; /* Changes text color on hover */
}
.spot-button2:active {
    background-color: #095e2f; /* Changes background color on button press */
    color: #FFFFFF; /* Changes text color on button press */
}

.fade-text {    
    opacity: 1;
}
.fade-text.fade {
    opacity: 1;
    animation: fade-in-out2 1s ease-in-out;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}
@keyframes fade-in-out2 {
    0% { opacity: 0.8; }
    50% { opacity: 0; }
    100% { opacity: 0.8; }
}


.spot-button {
    background-color: #1ED760;
    color: #121212;
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;

    transition: background-color 0.3s, color 0.3s;
}

.spot-button:hover {
    background-color: #19ae4d; /* Changes background color on hover */
    color: #FFFFFF; /* Changes text color on hover */
}
.spot-button:active {
    background-color: #095e2f; /* Changes background color on button press */
    color: #FFFFFF; /* Changes text color on button press */
}



